/*
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
svg{
    margin-right: 5px; ;
}
ul li a{
     list-style: none;
     font-family: sans-serif;
     font-weight: 700;
     padding: 0px 10px;
    
}
ul li a{
    font-size: 22px;
    transition: 200ms ease all;
}

ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 7px 15px;
}
.btn{
    font-family: sans-serif;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#herotxt h2{
    font-family: "Protest Strike", sans-serif;
    font-size: 5.6vw;
    line-height: 1;
    letter-spacing: 4px;
    font-weight: 200;
}

#herotxt p{
    font-family: sans-serif;
    font-size: 21px;
    margin: 30px 0px;
}

.line{
    width: 90vw;
    margin: 5vw auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 1%;
    width: 35vw;
    height: 1px;
    background-color: black;
}

.line button::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 35vw;
    height: 1px;
    background-color: black;
}

.branding{
    display: flex;
    justify-content: space-around;

}

.brandheading h2{
    font-family: "Protest Strike", sans-serif;
    font-size: 6vw;
    text-align: center;
    font-weight: 200;
    margin-top: 4.4vw;
}

.feature{
    padding: 40px 20px;
}
.feature img{
    width: 140px;
    height: 120px;
    gap: 30px;
    padding: 10px;
}
.row .col{
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
  

